<html lang="en">
<head>
    <base href="https://en.wikipedia.org/api/rest_v1/page/mobile-html" />
    <meta name="viewport"
          charset="utf-8"
          content="width=device-width,
                       initial-scale=1
                       shrink-to-fit=no" />
    <link rel="stylesheet" href="//meta.wikimedia.org/api/rest_v1/data/css/mobile/pcs" />
    <link rel="stylesheet" href="//meta.wikimedia.org/api/rest_v1/data/css/mobile/base" />
    <link rel="stylesheet" href="//en.wikipedia.org/api/rest_v1/data/css/mobile/site" />
    <title>{{ title }}</title>
</head> 
<body>
    <header>
        <div class="pcs-edit-section-header">
            <h1 class="pcs-edit-section-title">{{ title }}</h1>
        </div>
        <p data-description-source="local"
           id="pcs-edit-section-title-description">{{ description }}
        </p>
        <hr id="pcs-edit-section-divider">
    </header>
    {{{ text }}}
</body>
</html>
